.site-footer {
    background-color: var(--dark-bg-color);
  }
  .footer-links a {
    font-style: normal;
  }
  
  .container.footer {
    display: flex;
    align-items: baseline;
  }
  
  .footer-list .item:not(:last-child) {
    margin-bottom: 9px;
  }
  
  .address {
    color: var(--light-text-color);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-mail,
  .footer-phone {
    color: var(--phone-footer-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address:hover,
  .address:focus {
    color: var(--accent-color);
  }
  .footer-mail:hover,
  .footer-mail:focus {
    color: var(--accent-color);
  }
  .footer-phone:hover,
  .footer-phone:focus {
    color: var(--accent-color);
  }
  
  .logo-footer {
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .footer-social {
    margin-left: 70px;
    width: 206px;
  }
  
  .footer-title {
    text-transform: uppercase;
    color: var(--light-text-color);
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.14;
  }
  
  .social-list-link.footer {
    fill: var(--light-text-color);
    background-color: var(--footer-social-bg-color);
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .social-list-link.footer:hover,
  .social-list-link.footer:focus {
    background-color: var(--accent-color);
  }

  /* footer form */

.footer-form {
    margin-left: auto;
  }
  
  .footer-form-wrapper {
    display: flex;
  }
  
  .footer-form-txt {
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-text-color);
    margin-bottom: 10px;
  }
  
  .footer-form-subscribe {
    width: 358px;
    height: 50px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 12px;
    color: var(--light-text-color);
    outline: none;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-form-subscribe:focus {
    border-color: var(--accent-color);
  }
  
  .footer-form-subscribe::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    padding-left: 12px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer-form-submit {
    font-family: inherit;
    background-color: var(--accent-color);
    color: var(--light-text-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border: none;
    margin-left: 12px;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-form-submit:focus,
  .footer-form-submit:hover {
    background-color: var(--btn-focus-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  .icon-send {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }